@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body{
  background-color: #FDFFF2;
}

/* .open-sans {
  font-family: "Open Sans", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
p, span, a, li, button {
  font-family: "Open Sans", sans-serif;
}

.bg-image {
  background-image: url('/hero_image.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .bg-image {
    background-image: url('/hero_image_mobile.jpg'); /* note the lowercase 'h' */
    background-size: cover;
    background-position: center;
  } 
}


